################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project1/Debug/Project1.tlog
/Project1/.vs/Project1/v14
/Project1/Debug
/Project1/Project1.VC.VC.opendb
